<div class='container'>
    <nav class="navbar navbar-expand-lg navbar-light bg-white mt-4 mr-0 ml-0 mb-5 p-0">
      <a class="navbar-brand" href="/">Shaannessy's Shop</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-between" id="navbarNavAltMarkup">
        <ul class="nav navbar-nav ml-auto">
          
          <a class="nav-item nav-link active" href="/products">Cart <span class="sr-only">(current)</span></a>
          <!-- <a class="nav-item nav-link" href="#">Features</a>
          <a class="nav-item nav-link" href="#">Pricing</a> -->
        </ul>
      </div>
    </nav>