  
{% extends 'base.html' %}

{% block content %}
<center>
    <h1>Albums</h1>
<div class="img">
    <a href='/products'>
        <img src='/static/WhatTheyWant.jpg'width="500" height="500">
        <img src='/static/WhatTheyNeed.jpg' width="500" height="500">
        <br>
        <h1>Gear</h1>
        <img src='/static/whiteHoodie.jpg'width ='500' height='500'>
        <img src='/static/blackHoodie.jpg'width ='500' height='500'>
    </a>

    <h1>Items in cart</h1>

    <a href='/playlists/new'>New Cart</a>

    {% for playlist in playlists %}
        <h2>{{ products.title }}</h2>
        <small>{{ products.description }}</small>
    {% endfor %}



</div>
</center>
{% endblock %}