<!-- templates/playlists_new.html -->
{% extends 'base.html' %}

{% block content %}
<form method='POST' action='/products'>
    <fieldset>
    <legend>Product</legend>
    <!-- TITLE -->
    <p>
        <label for='title'>Name of Item </label><br>
        <input type='text' name='title' />
    </p>
    <p>
        <label for='quantity'> Quantity </label><br>
        <input type='text' name='quantity' />
    </p>
    </fieldset>

    <!-- BUTTON -->
    <p>
     <a href='/products'>  <button type='submit'>Save Item</button> </a> 
    </p>
</form>
{% endblock %}